@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400");

:root {
  --base-spacing: 4px;
  --base: #e9eaeb;
  --overlay: #d3d5d6;
  --surface: #bdbfc2;
  --text: #030405;
  --subtle: #07090a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #232b32;
    --overlay: #20272d;
    --surface: #1c2228;
    --text: white;
    --subtle: #e9eaeb;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background: var(--base);
  color: var(--text);
}

a {
  color: #1085ff;
}

.code-editor {
  font-family: "IBM Plex Mono", monospace;
  line-height: 2;
}

.preview-dot {
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #e5c07b;
}

.preview-dot.on {
  background: #98c379;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.p-5 {
  padding: calc(var(--base-spacing) * 5);
}

.mt-1 {
  margin-top: calc(var(--base-spacing) * 1);
}

.mb-2 {
  margin-bottom: calc(var(--base-spacing) * 2);
}

.mr-2 {
  margin-right: calc(var(--base-spacing) * 2);
}

.w-full {
  width: 100%;
}

.min-w-screen {
  min-width: 100vw;
}

.min-h-screen {
  min-height: 100vh;
}
