:root {
  --grid-point: 4px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.code-editor {
  font-family: "iAWriterQuattroS";
}

span.hljs-section {
  color: black;
  font-size: 1.2rem;
}

span.hljs-bullet {
  padding-left: 10px;
}

span.hljs-code {
  color: #868e96;
}

.min-80-screen {
  min-height: 80vh;
}
