@font-face {
  font-family: "iAWriterQuattro";
  src: url("./fonts/iAWriterQuattroS-Regular.woff2") format("woff2"),
    url("./fonts/iAWriterQuattroS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
