@font-face {
  font-family: "JetBrainsMono Nerd Font Mono";
  src: url("./fonts/JetBrainsMonoNerdFontCompleteM-Regular.woff2")
      format("woff2"),
    url("./fonts/JetBrainsMonoNerdFontCompleteM-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
