/* Normal */
:root {
  --bg: #eceff4;
  --bg-light: #e5e9f0;
  --bg-lighter: #d8dee9;
  --fg: #2e3440;
  --fg-light: #3b4252;
  --fg-lighter: #434c5e;
  --shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  --br-radius: 8px;
  --accent: #4064f2;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212;
    --bg-light: #191919;
    --bg-lighter: #252525;
    --fg: #d8dee9;
    --fg-light: #e5e9f0;
    --fg-lighter: #eceff4;
    --shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
    --accent: #4064f2;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: #4064f2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
}

textarea {
  background: var(--bg);
  color: var(--fg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-light);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--fg-light);
  border-radius: 8px;
}
