/* @import url("//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css"); */

@import "./fonts.css";

/* Normal */
:root {
  --bg: var(--oc-gray-0);
  --bg-light: var(--oc-gray-1);
  --bg-lighter: var(--oc-gray-2);
  --fg: var(--oc-gray-9);
  --fg-light: var(--oc-gray-8);
  --fg-lighter: var(--oc-gray-7);
  --shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  --br-radius: 8px;
  --accent: var(--oc-red-7);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--oc-gray-9);
    --bg-light: var(--oc-gray-8);
    --bg-lighter: var(--oc-gray-7);
    --fg: var(--oc-gray-0);
    --fg-light: var(--oc-gray-1);
    --fg-lighter: var(--oc-gray-2);
    --shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "JetBrainsMono Nerd Font Mono", monospace; */
  font-family: "iAWriterQuattro", monospace;
  font-size: 14px;
  line-height: 25.2px;
}

a {
  color: var(--accent);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
}

textarea {
  background: var(--bg);
  color: var(--fg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-light);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--fg-light);
  border-radius: 8px;
}

.tinyToast {
  background-color: var(--fg) !important;
  border-radius: 4px !important;
  color: var(--bg) !important;
  border-width: 0px !important;
  top: 0 !important;
  left: 50% !important;
  line-height: 42px !important;
  max-height: 42px !important;
  max-width: 250px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 14px !important;
  padding: 0px !important;
  margin: 1rem !important;
  transform: translateX(-50%) !important;
}
