html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: #4064f2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--fg);
}

textarea {
  background: var(--bg);
  color: var(--fg);
}
